<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstros</title>
    <link rel="stylesheet" href="style.css"> 
    <script src="https://unpkg.com/vue"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,&display=swap" rel="stylesheet">
</head>
<body>
     <div id="app">
        <div id="wallpaper">
            <div class="panel scores">
                <div class="score">
                    <h1 class="h1player">Jogador</h1>
                    <div class="life-bar">
                        <div class="life"
                            :class="{danger: playerLife < 20}"
                            :style="{width: playerLife + '%'}"></div>
                    </div>
                    <div style="background-color: rgba(0, 0, 0, 0.651); color: rgb(255, 255, 255);">{{ playerLife }}%</div>
                </div>
                <div class="score">
                    <h1 class="h1monster">Monstro</h1>
                    <div class="life-bar">
                        <div class="life"
                            :class="{danger: monsterLife < 20}"
                            :style="{width: monsterLife + '%'}"></div>
                    </div>
                    <div style="background-color: rgba(0, 0, 0, 0.664); color: rgb(255, 255, 255); text-transform: uppercase;">{{ monsterLife }}%</div>
                </div>
            </div>
            <div v-if="hasResult" class="panel result">
                <div v-if="monsterLife == 0" class="win">Você venceu!!! :)</div>
                <div v-else class="lose">Você perdeu!!! :(</div>
            </div>
            <div class="panel buttons">
                <template v-if="running">
                    <button @click="attack(false)"
                    class="btn attack">Ataque</button>
                    <button @click="attack(true)"
                    class="btn especial-attack">Ataque Especial</button>
                    <button class="btn heal">Curar</button>
                    <button @click="running = false" class="btn give-up">Desistir</button>
                </template>
                    <button v-else @click="startGame"
                    class="btn new-game">Inicia Jogo</button>
            </div>
            <div class="panel logs"></div>
        </div>
    </div>
     <script src="app.js"></script>    
</body>
</html>
